#searchbar {
  display: flex;
  justify-content: center;  
  margin-top: 0vh
}

#searchbar-row {
  width: 70%;
}

#searchbar-placeholder {
  text-align: center;
}

#copyright {
  margin-top: 7vh;
  margin-bottom: 12vh;
}

@media screen and (max-width: 425px) {
  #searchbar-row {
    width: 100vw;
  }
}





